
body{
  padding: 0px;
  margin: 0px;
}


header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background: var(--primary-color);
}

.navbar {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 20px; 
  background-color: #3c3b3a; 
  
  margin-bottom: 20px;
}
    

/* 
   NAV TITLE (CENTER HEADING)
*/
.nav-title {
  font-size: 32px;
  font-weight: 800;
  color: rgb(199, 49, 49);
  white-space: nowrap; /* Prevents title from breaking into 2 lines */
}

.nav-menu {
  display: flex; /* Horizontal menu items */
  gap: 20px; /* Space between links */
}

.navbar .nav-menu {
  display: flex;
  gap: 24px;
  align-items: center;
  list-style: none; /* Remove bullets */
  margin: 0;
  padding: 0;

}

/* Individual list items */
.navbar .nav-menu .nav-item {
  display: block;
}

/*
   NAVIGATION LINKS
    */
.navbar .nav-menu .nav-link {
  display: block;
  padding: 10px 15px;
  color: black; /* Text color */
  font-size: 20px;
  font-weight: 600;
  background-color: #d2a425;
  border-radius: 10px;
  text-decoration: none; /* Remove underline */
  transition: all 0.3s ease; /* Smooth hover animation */
}


/* Hover effect for nav links */
.navbar .nav-menu .nav-link:hover {
  color: white;
  background: linear-gradient(90deg, red, #fdfcfc); /* Smooth color blend */
  text-decoration: none;
}

